// spacing
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 32px;
$space-xl: 64px;

// colors
$white: #fff;
$black: #000;
$off-black: #5a5c5f;
$coal: #34373b;
$blue: #4a90e2;
$red: #ef5d52;
$green: #1ec522;
$gray-1: #ededed;
$gray-2: #7b7b7b;
$gray-light: #b3b3b3;
$gray-lighter: #f4f5f7;
$purple: #473b7b;

// site colors
$primary: $purple;
$text-1: $coal;
$text-2: $black;
$divider-color: $gray-1;
